/2001 A 99 line topology optimization code written in Matlab.pdf
/2009 Manufacturing tolerant topology optimization.pdf
/2011 Efficient topology optimization in MATLAB using 88 lines of code.pdf
/top-opt assignment-2026.pdf